version: 2
jobs:
  deploy:
    docker:
      - image: circleci/python:2.7-jessie
    steps:
      - checkout
      - run:
          name: Install awscli
          command: sudo pip install awscli
      - run:
          name: Deploy to S3
          command: aws s3 sync /home/circleci/project/public/ s3://$BUCKET/ --delete
      - run:
          name: Invalidate Cloudfront cache
          command: aws cloudfront create-invalidation --distribution-id $DIST_ID --paths "/*"

workflows:
  version: 2
  deploy:
    jobs:
      - deploy:
          filters:
            branches:
              only: master